body {
  font-size: 14px;
  font-family: 'Segoe UI Emoji';
  font-family: 'Segoe UI Emoji', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
}

* {
  outline: none;
}

a {
  text-decoration: none;
}
