.warpper {
  box-shadow: 0 4px 13px -3px rgb(0 0 0 / 10%);
  border-bottom: 1px solid #d2d2d2;
  padding: 0 26px 0 22px;
  backdrop-filter: saturate(180%) blur(0.4rem);
  background-color: hsla(0, 0%, 100%, .75);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 58px;
}

.menus {
  display: flex;
  a {
    border-bottom: transparent solid 2px;
    transition: all .3s;
    margin-top: 5px;
    color: #333;
  }
  a + a {
    margin-left: 16px;
  }
  :global(.active), a:hover {
    color: #1890ff;
    border-bottom: #1890ff solid 2px;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: #333;
  img {
    margin-right: 8px;
    height: 38px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: -10px;
  > :last-child {
    color: #9a9a9a;
    font-size: 12px;
    font-weight: 300;
  }
}