.warpper {
  padding-right: 16px;
  position: relative;
  a {
    color: #5a5a5a;
    transition: all 0.3s;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    svg {
      fill: #bbb;
      transition: fill 0.3s;
    }
    &:hover {
      color: #1890ff;
      svg {
        fill: #1890ff;
      }
    }
    &:global(.active) {
      color: #1890ff;
      background-color: #f5f8fa;
      padding-left: 10px;
    }
  }
}

.divider {
  padding: 5px 0;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #bdbdbd;
  border-bottom: 1px solid #eaeaea;
}

.warpper,
.inner {
  border-right: 1px solid #eaeaea;
  min-width: 270px;
}

.inner {
  overflow: auto;
  padding-left: 23px;
  padding-bottom: 30px;
  padding-top: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 60px;
  bottom: 0;
}
